<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>结果页-2</title>
        <script src="//cdn.bootcss.com/jquery/1.12.1/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="./css/base.css"/>
        <link rel="stylesheet" href="./css/main.css"/>	
    </head>
    <body class="index-end-page-2 index-end-page-3 as-page-end-2">
        <div class="body index-page index-end-page ">
            
            <div class="logo"></div>
            

            <div class="content">
                <!--PHP 第一次查询 -->
                <div class="form" style="display: none;">
                    <div class="txt-content">
                        <i></i>
                        <strong>本次防伪码: H1000010</strong>
                        <div class="end-t1">
                            <p>您所查询的防伪码为首次查询,</p>
                            <p>为德国生产的正品产品。</p>
                        </div>
                        <strong>请放心使用</strong>
                    </div>
                    <p class="end-tip-txt">*如果您对本次查询结果有疑问，请联系您购买产品的供应商</p>
                </div>
                <!--PHP 多次查询 -->
                <div class="form">
                    <div class="txt-content">
                        <i></i>
                        <strong>本次防伪码: H1000010</strong>
                        <div class="end-t1">
                            <p>注意!您所查询的防伪码已被查询过,</p>
                            <p>首次查询时间：2019-7-1: 10:10:01</p>
                        </div>
                        <strong>此次为第5次验证!请确认,谨防假冒!</strong>
                    </div>
                    <p class="end-tip-txt">*如果您对本次查询结果有疑问，请联系您购买产品的供应商</p>
                </div>
            </div>

            <div class="logo2"></div>

        </div>
    </body>
</html>