<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>查询页</title>
        <script src="//cdn.bootcss.com/jquery/1.12.1/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/static/css/base.css"/>
        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>
    <body class="as-page">
        <div class="body index-page">
            
            <div class="logo"></div>
            <p class="title"></p>
            
            <div class="content">
                <div class="form">
                    <div class="inputs">
                        <span>防伪码:</span>
                        <input type='text' name="code" value="">
                    </div>
                    <div class="buttons">
                        <button onclick="select()">查询</button>
                        <button>重置</button>
                    </div>
                    <div class="txt">
                        <p>检查标贴的完好性，刮开标贴上面的涂层。</p>
                        <p>在右面的输入框内依次正确输入上面的防伪码。</p>
                        <p>核对输入框内的防伪码和标贴一致后点击查询按钮。</p>
                        <p>稍后系统会显示出权威查询结果信息</p>
                    </div>
                </div>
                <div class="bg1"></div>
            </div>
        </div>

        <script>
            //查询事件
            function select() {
                var code = $('input[name=code]').val();
                if(code == ''){
                    alert('请输入防伪码再进行查询');
                }else{
                    window.location.href = '/index/api/verification?site=2&code='+code+'&brand_id=1';
                }
            }
        </script>
</html>