<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
    <div class="layui-row">
        <button class="layui-btn" type="button" id="excel" style="display: none">导入excel</button>
    </div>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="ExcelData">导入excel</button>
        </div>
    </script>
</body>
<script src="/static/layui/layui.js"></script>
<script>
    //毫秒时间戳转日期格式
    function time(time) {
        var date = new Date(time);
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s; //呀麻碟
    }

    layui.use(['upload','form','table'], function(){
        var $ = layui.jquery
            ,upload = layui.upload
            ,form = layui.form
            ,table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/index/security_code/list'
            ,title: '重点合作商列表'
            ,toolbar: '#toolbarDemo'
            ,id:'testTable'

            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'security_code', title:'防伪码'}
                ,{field:'brand_name', title:'品牌'}
                // ,{field:'cooperator_name', title:'合作商'}
                ,{field:'count', title:'验证次数'}
                ,{field:'time', title:'导入时间',templet: function(res){
                        return '<em>'+ time(res.time*1000) +'</em>';
                }}
            ]]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'ExcelData'://excel导入
                    $('#excel').click();//模拟点击导入excel按钮
                    break;
            }
        });

        //导入excel
        upload.render({
            elem:'#excel'
            ,url:'/index/upload/excel_import'
            ,accept:'file'//普通文件
            ,multiple:true
            ,size:30720 //上传的文件不能超过30M
            ,done: function (res){
                console.log(res.msg);
                if(res.msg == '上传文件后缀不允许'){
                    layer.msg('请上传正确的excel文件');
                }else{
                    layer.msg(res.msg);
                    setTimeout("window.location.reload()",2000);
                }
            }
        });
    });
</script>
</html>